.pushy
  position fixed
  width 200px
  height 100%
  top 0
  z-index 9999
  background #333332
  font-size 0.9em
  font-weight bold
  box-shadow inset -10px 0 6px -9px rgba(0, 0, 0, .7)
  overflow auto
  overflow-scrolling touch
  a
    display block
    color #b3b3b1
    padding 15px 30px
    border-bottom 1px solid rgba(0, 0, 0, .1)
    border-top 1px solid rgba(255, 255, 255, .1)
    text-decoration none
    &:hover
      background #00b4ff
      color #FFF

.pushy-left
  transform translate3d(-200px,0,0)
  transform translate3d(-200px,0,0)

.pushy-open
  transform translate3d(0,0,0)
  transform translate3d(0,0,0)

.container-push, .push-push
  transform translate3d(200px,0,0)
  transform translate3d(200px,0,0)

.pushy, #container, .push
  transition -webkit-transform .2s cubic-bezier(.16, .68, .43, .99)
  transition -moz-transform .2s cubic-bezier(.16, .68, .43, .99)
  transition -o-transform .2s cubic-bezier(.16, .68, .43, .99)
  transition transform .2s cubic-bezier(.16, .68, .43, .99)

.site-overlay
  display none

.pushy-active
  .site-overlay
    display block
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 9998
    background-color rgba(0,0,0,0.5)
    animation fade 500ms
    animation fade 500ms


@keyframes fade
    0%   { opacity: 0; }
    100% { opacity: 1; }

@-moz-keyframes fade
    0%   { opacity: 0; }
    100% { opacity: 1; }


@-webkit-keyframes fade
    0%   { opacity: 0; }
    100% { opacity: 1; }


@-o-keyframes fade
    0%   { opacity: 0; }
    100% { opacity: 1; }


/* Example Media Query */

@media screen and (max-width: 768px)
  .pushy
    font-size: 1.0em;
