
html
  font-size: $baseFontsize
body
  overflow-x: hidden
  background: $bodyColor
  color: $fontColor
  font-size: $baseFontsize
  line-height: 2
  font-family: $fontBase
  text-align: justify
  box-sizing: border-box
  padding: 0
  margin: 0
  
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext);

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5
  font-family: $fontTitle
  color: $theme
  font-weight: 400
  line-height: 1.8;
h1, .h1
  font-size: 2rem
  text-transform: uppercase
h2, .h2
  font-size: 1.6rem
h3, .h3, h4, .h4, h5, .h5
  font-size: 1.4rem
h4, .h4
  font-size: 1.2rem
h5, .h5
  font-size: 1rem
  
p
  font-size: 1rem
  margin: 0 0 2rem 0
  overflow: hidden
  
ul, ol
  margin-bottom: 20px
ul
  list-style: none outside
ol
  list-style: decimal
ol, ul.square, ul.circle, ul.disc
  margin-left: 30px
ul.square
  list-style: square outside
ul.circle
  list-style: circle outside
ul.disc
  list-style: disc outside
ul ul, ul ol,
ol ol, ol ul
  margin: 4px 0 5px 30px
  font-size: 90%
ul ul li, ul ol li,
ol ol li, ol ul li
  margin-bottom: 6px
li
  line-height: 18px
  margin-bottom: 12px
ul.large li
  line-height: 21px
li p
  line-height: 21px
dl
dl dt
  font-weight: bold
  line-height: 0.7rem
dl dd
  line-height: 2.6rem
  margin-bottom: 1rem
a
  color: $support
  text-decoration: none
  cursor: pointer
  &:hover, &:visited
    color: darken(rgba($theme),12%)

::selection
  background: darken(rgba($theme),10%)
  color: #fff
  text-shadow: none
hr
  overflow: hidden
  border: 0
  border-bottom: 1px dashed $border
  width: 100%
  height: 0
  margin: 2rem 0
blockquote
  text-align: left
  padding-left: 1rem
  color: lighten(rgba($fontColor),20%)
  font-style: italic
  margin: 0.5rem 0
  font-size: 0.8rem
label
  display: block
  font-weight: bold
input, select, textarea
  background: white
  padding: 0.9rem
  border: 1px solid $border
  color: lighten(rgba($fontColor),30%)
  width: 100%;
  box-sizing: border-box;
form
  margin-bottom 20px
fieldset
  margin-bottom 20px
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="url"],
input[type="password"],
input[type="email"],
textarea,
select
  border 1px solid #c5c5b5
  box-sizing border-box
  padding 5px
  outline none
  font 12px 'Asap', Arial, sans-serif
  color #474545
  margin 0
  width 100%
  max-width 600px
  display block
  margin-bottom 1.6rem
  background #fff!important
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus
  border 1px solid $border
  color $fontColor
textarea
  min-height 60px
label,
legend
  display block
  font-weight normal
  font-size 0.7rem
  margin-bottom 0.3rem
input[type="checkbox"],
input[type="radio"]
  display: inline-block;
  width: auto;
  margin-right: 6px;
label span,
legend span
  font-weight normal
  font-size $baseFontsize
  color $fontColor
  
table
  width 100%
  border-collapse collapse
tr
  &:nth-of-type(odd)
    background darken($bodyColor, 6%)
th
  background $support
  color white
  font-weight normal
td,
th
  padding 0 5px
  border 1px solid $border
  text-align left
  line-height: 2.2