section
  position: relative


// 768 +
@media only screen and (min-width: 768px)

  .btn,button,input[type="submit"],input[type="reset"],input[type="button"]
    display: inline-block
    width: auto