.box
  box-sizing: border-box
  padding: 1.1rem
  border: 1px solid $border

//Images
.img-thumbnail
  background: #fff
  padding: 3px
  border: 1px solid $border
.img-left
  float: left
  margin-right: 1rem
.img-right
  float: right
  margin-left: 1rem
.img-circle
  border-radius: 50%
.img-wide
  width: 100%
  height: auto

// Buttons
.btn,button,input[type="submit"],input[type="reset"],input[type="button"]
  background: $default
  position: relative
  border: 0
  display: block
  width: 100%
  text-align: center
  box-sizing: border-box
  font-size: 1rem
  font-weight: normal
  text-decoration: none
  cursor: pointer
  margin-bottom: 1rem
  margin-right: 1rem
  line-height: normal
  padding: 1rem 1.8rem
  font-family: $fontBase
  box-shadow: 0 0 0 24px transparent inset
  transition: all .3s ease
  &:hover
    box-shadow: 0 0 0 24px rgba(0,0,0,.3) inset
button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0
.btn-theme
  background: $theme
  color: white
  border-color: darken($theme, 12%)
  &:visited, &:active
    color white
.btn-support
  background: $support
  color: white
  border-color: darken($support, 14%)
  &:visited, &:active
    color white
.btn-default
  background: $default
  color: $fontColor
  border-color: darken($default, 12%)
.btn-small
  font-size: 10px;
  padding: 10px 14px;
  
  